.topbar {
    position: fixed;
    background-color: var(--blue);
    z-index: 1;
    height: 5em;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 2em;
    
  }

  .heading{
    margin-bottom: 2em;
    text-align: center;
    margin-top: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .content{
    margin-top: 1em;
    background-color: white;
    margin-top: 3em;
  }

  .AImessage{
    margin-top: 5em;
    background-color: rgb(196, 97, 97);
    width: 50%;
    height: 10em;
  }

  .personMessage{
    margin-top: 5em;
    margin-right: 1em;
    margin-left: auto;
    background-color: blue;
    width: 50%;
    height: 10em;
  }

  .answeroption{
    background-color: white;
    border: solid black .2em;
    width: 3em;
    height: 3em;
    border-radius: 2em;
    margin: 1em auto 0;
  }

  .active{
    background-color: red;
    width: 4em;
    height: 4em;
    border-radius: 2.5;
    margin: 1em auto 0;
  }

  .answerboxes{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }