:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #0084FF
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html::-webkit-scrollbar {
  display: none;
}